* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

}

header {
    position: relative;

}

header h1 {
    position: absolute;
    padding-left: 500px;
    padding-top: 200px;
    color: white;
    /*margin-right: 500px;*/
}

header h2 {
    position: absolute;
    padding-left: 545px;
    padding-top: 240px;
    color: white;
}

.eerste {
    width: 100%;
    height: auto;
}

.back {
    position: absolute;
    top: 400px;
    left: 50px;
    font-size: large;
    color: white;
}

.forward {
    position: absolute;
    top: 400px;
    right: 50px;
    font-size: large;
    color: white;
}

.middleSection {
    position: relative;
    min-height: 500px;
    margin-left: 20px;
    margin-top: 20px;
}

.summary h1 {
    /*top: 1500px;*/
    color: black;
}

ul {
    margin-bottom: 20px;
}

li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;

}

li a {
    text-decoration: none;
    color: black;
}