* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background-color: #00F5E6;*/
    opacity: 0.2s;
}

header {
    position: relative;

}

h1, h2 {
    color: #F96E21;
}

header h1 {
    position: absolute;
    padding-left: 500px;
    padding-top: 200px;
    color: white;
    /*margin-right: 500px;*/
}

header h2 {
    position: absolute;
    padding-left: 545px;
    padding-top: 240px;
    color: white;
}

.eerste {
    width: 100%;
    height: auto;
}

.back {
    position: absolute;
    top: 400px;
    left: 50px;
    font-size: large;
    color: white;
}

.forward {
    position: absolute;
    top: 400px;
    right: 50px;
    font-size: large;
    color: white;
}

.middleSection {
    position: relative;
    min-height: 500px;
    margin-left: 20px;
    margin-top: 20px;
    visibility: visible;
}

.summary h1 {
    /*top: 1500px;*/
    margin-bottom: 10px;
}

.summary p {
    width: 800px;
}

ul {
    margin-bottom: 20px;
}

li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    background-color: #F96E21;
    padding: 3px;
    border-radius: 3px;
}

li a {
    text-decoration: none;
    color: black;
}

.practicalInfo {
    visibility: hidden;
}

address {
    float: left;
}

.tickets {
    float: left;
}

.contactForm {
    visibility: visible;
}

footer {
    background-color: #F96E21;
}